[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/tjsego/glfw.git
[submodule "extern/magnum"]
	path = extern/magnum
	url = https://github.com/tjsego/magnum.git
[submodule "extern/corrade"]
	path = extern/corrade
	url = https://github.com/tjsego/corrade.git
[submodule "extern/Voroxx"]
	path = extern/Voroxx
	url = https://github.com/tjsego/Voroxx.git
[submodule "extern/sundials"]
	path = extern/sundials
	url = https://github.com/tjsego/sundials.git
[submodule "extern/DirectXMath"]
	path = extern/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "extern/carbon"]
	path = extern/carbon
	url = https://github.com/tjsego/carbon.git
